# ─── External URLs ───
LANDING_URL="http://springa.test"
LEGACY_PORTAL_URL="http://sa-portal.test"

# ─── Database ───
DATABASE_URL="mysql://root:@localhost:3306/sa_laravel"
DATABASE_HOST="localhost"
DATABASE_USER="root"
DATABASE_PASSWORD=""
DATABASE_NAME="sa_laravel"
DATABASE_PORT=3306

# ─── Auth ───
NEXTAUTH_SECRET="your-random-secret-key-min-32-chars-here"
NEXTAUTH_URL="http://localhost:3000"
HASHIDS_SALT="1rPP5bj3J58Ag6PLOHERuNQM0I2Q00U0ylLL8npt"

# ─── SESSION ───
SESSION_STRATEGY="jwt"
SESSION_MAX_AGE=2592000

# ─── Tax ───
TAXJAR_API_KEY=""


